body {
    background-image: url(assets/gamover.png);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

    #a{
   
    border-radius: 30px;
    width: 200px;
    font-size: larger;
    background-color: blue ;
    padding: 20px;
    padding: 20px;
    margin-top:700px;
    margin-left: 875px;
    height: 100px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    bottom: 100px;
    right: 230px;
    margin-bottom: 100px       
}
#score{
    align-content: center;
    position: relative;
    bottom: 600px;
    left: 500px;
    font-size: 100px;
}
#game-over{
    margin-top: 200px;
}
